// Place all the styles related to the end_user/genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.genres-link {
  width: 20%;
  margin: 0 auto;
  padding-top: 10px;
  font-size: 20px;
}

.genre_tag {
  padding: 20px 10px;
  margin-bottom: 10px;
}

.form-group {
  padding-left: none;
}