<div class="container">
  <h1>概要</h1>
    <% unless @abouts.blank? %>
      <% @abouts.each do |about| %>
        <div class="row col-sm-8 col-sm-offset-2 content">
          <p>
            <%= about.created_at.strftime("%Y/%m/%d") %> : <%= about.content %>
          </p>
        </div>
      <% end %>
    <% else %>
      <p>概要はまだありません</p>
    <% end %>
</div>