<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 form">
      <div class="row">
        <span id="message">
        </span>
        <div id="genre_form">
          <%= render 'end_user/genres/genre' %>
        </div>
      </div>
      <div id="genres">
        <%= render 'end_user/posts/checkboxes' %>
      </div>
    </div>
  </div>
</div>