<h1>概要</h1>
<div class="container">
  <div class="row col-sm-8 col-sm-offset-2 content">
    <% @abouts.each do |about| %>
      <p>
        <%= about.created_at.strftime("%Y/%m/%d") %> : <%= about.content %>
      </p>
    <% end %>
    <%= paginate @abouts, class: "paginate" %>
  </div>
</div>