<h1>概要</h1>
  <% if flash[:success] %>
    <% flash[:success] %>
  <% end %>
  <% @abouts.each do |about| %>
    <%= about.created_at.strftime('%y/%m/%d') %>
    <%= about.content %>
  <% end %>
  <%= paginate @abouts, class: "paginate" %>