<div class="container">
  <div class="row">
    <div class="col-sm-4 profile">
      <%= render 'end_user/users/showtemplate', user: @user %>
    </div>
    <div class="col-sm-6 col-sm-offset-1">
      <% if @genres.any? %>
        <% @genres.each do |genre| %>
          <div class="genres-link">
            <%= link_to end_user_genre_path(genre) do %>
              <%= genre.name %><span>（<%= genre.posts.count %>）</span>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <p class="nothing">ジャンルがありませんでした。</p>
      <% end %>
    </div>
  </div>
</div>