/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.underbar {
  padding: 20px;
  margin: 20px;
  border-bottom: 1px solid gray;
}

.main {
  margin-bottom: 50px;
}

.footer {
  width: 100%;
  height: 150px;
  background-color: gray;
  text-align: center;
  color:white;
  padding-top: 70px;
}

.session {
  margin:0 20px;
}

.header {
  float: right;
}

.header-button {
  width: 100%;
}

.search {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 8px;
}

.button {
  padding-top: 10px;
}

label {
  margin-left: 15px;
}

.top-search {
  border-bottom: 1px solid gray;
}

.user-search {
  margin-bottom: 30px;
}